<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>

<body>
    <form method="post" action="/login" id="form_user_login">
        <label>Email</label>
        <input type="text" name="email" required>
        <label>Password</label>
        <input type="password" name="password"required>
        <button type="submit">Login</button>
    </form>

    <form method="post" action="/login/signup" id="form_user_signup" style="margin-top: 25px;">
        <label>Email</label>
        <input type="text" name="email" required>
        <label>Password</label>
        <input type="password" name="password"required>
        <button type="submit">Signup</button>
    </form>
</body>

</html>