<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Budget</title>
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/budget.css">
</head>

<body>



  <header>
    Hello
  </header>

  <%console.log(JSON.stringify(user))%>
  <data class="userdata"></data>
  <section class="categories">
    <div class="category_container">
      <% for (let category of user.getCategories()) { %>
      <%if (category.getName() !== 'Unassigned Category') {%>
      <div class="category" draggable="true" id="<%=category.getID()%>">
        <data class="categoryName"><%=category.getName()%></data>
        <div class="subcategory_container">
          <%for (let subcategory of user.getSubcategories()) { %>
          <%if (subcategory.getCategoryID() === category.getID()) {%>
          <p class="subcategory" draggable="true" id="<%=subcategory.getID()%>"><%=subcategory.getName()%></p>
          <%}}%>
        </div>
      </div>
      <%}}%>
    </div>
  </section>
  <script type="module" src="/category_recycler.js"></script>
</body>

</html>