<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Budget</title>
    <script type="module" src="budget.js"></script>
</head>
<body>
    <div id="div_budget_view">
        <form method="post" action="/"><button type="submit" id="btn_submit">SUBMIT!!!</button></form>
    </div>
</body>
</html>