<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Budget App</title>
</head>
<body>
    <nav>

    </nav>
    <main>
        <header id="header_view">
            INDEX
        </header>
        <div id="section_wrapper">
            <section id="category_view">

            </section>
            <section id="transaction_view">
    
            </section>
        </div>
    </main>
</body>
</html>