<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Budget App</title>
</head>

<body>

    <div class="category_wrapper">
        <div class="category_view" id="category_view_1">Essential</div>
        <div class="subcategory_wrapper" id="subcategory_wrapper_1">
            <div class="subcategory_view" id="subcategory_view_1">Food</div>
            <div class="allocation_view" id="allocation_view_1">200.50</div>
        </div>
        <div class="subcategory_wrapper" id="subcategory_wrapper_2">
            <div class="subcategory_view" id="subcategory_view_2">Gas</div>
            <div class="allocation_view" id="allocation_view_2">100.00</div>
        </div>
    </div>

    <div class="category_wrapper">
        <div class="category_view" id="category_view_2">Nonessential</div>
        <div class="subcategory_wrapper" id="subcategory_wrapper_3">
            <div class="subcategory_view" id="subcategory_view_3">Crunchyroll</div>
            <div class="allocation_view" id="allocation_view_3">10.50</div>
        </div>
        <div class="subcategory_wrapper" id="subcategory_wrapper_4">
            <div class="subcategory_view" id="subcategory_view_4">Videogames</div>
            <div class="allocation_view" id="allocation_view_4">45.75</div>
        </div>
    </div>

</body>

</html>