<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>

<body>
    <form method="post" action="/" id="form_user_login">
        <label>Username</label>
        <input type="text" name="username" id="input_user_name" required>
        <label>Password</label>
        <input type="password" name="password" id="input_user_password" required>
        <button type="submit" id="btn_login_user">Login</button>
    </form>

    <p id="p_validation_results"></p>
</body>

</html>