<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../content/reset.css">
  <link rel="stylesheet" href="../content/test.css">
  <title>User Login</title>
</head>

<body>
  <div class="container">
    <p class="draggable" draggable="true" id="category_essentialID"> Essential </p>
    <p class="draggable" draggable="true" id ="subcategory_foodID"> Food </p>
    <p class="draggable" draggable="true" id ="subcategory_gasID"> Gas </p>
    <p class="draggable" draggable="true" id ="category_nonessentialID"> Nonessential </p>
    <p class="draggable" draggable="true" id ="subcategory_crunchyrollID"> Crunchyroll </p>
    <p class="draggable" draggable="true" id ="subcategory_videogamesID"> Videogames </p>
  </div>
  <script type="module" src="../scripts/test.js"></script>
</body>

</html>