<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../content/reset.css">
  <link rel="stylesheet" href="../content/test.css">
  <title>User Login</title>
</head>

<body>
  <div class="container">
    <p class="draggable" draggable="true"> Essential </p>
    <p class="draggable" draggable="true"> Food </p>
    <p class="draggable" draggable="true"> Gas </p>
    <p class="draggable" draggable="true"> Nonessential </p>
    <p class="draggable" draggable="true"> Crunchyroll </p>
    <p class="draggable" draggable="true"> Videogames </p>
  </div>

  <script src="../scripts/test.js"></script>
</body>

</html>